<div class="card">
    <div class="card-in">
        <p class="card-in" >Department : {{depart.department}}</p>
        <p class="card-in" >Number of Student :{{depart.count}}</p>
    </div>
</div>
{{yield}}
