<div class="form3"><h3 style="text-align: center;margin-top:0px;">ADD DEPARTMENT</h3>


{{input id="depName" value=department type="text" class="box" placeholder="Department Name" required=true}}

<button class="button1" onclick={{action 'addDep' department}}>Add</button>
</div>
{{outlet}}
