{{nav-bar role=model.role}}

<div class="nav element">
        {{#link-to 'staff.addStaff' class="nav-element "}}
            Add Staff
        {{/link-to}}

        {{#link-to 'staff.viewStaff' class="nav-element "}}
            View Staff
        {{/link-to}}
</div>
{{outlet}}
